<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rbsample_springBootMybatisHsqldb.IUserMapper">
    <select id="getUsers" resultType="User">
        select * from user
    </select>
    
    <update id="saveUser" parameterType="User">
    MERGE INTO user U USING (select id from DUAL ) ON (U.id=#{id}) 
        WHEN MATCHED THEN 
        UPDATE SET U.name=#{name}, U.address=#{address}
        WHEN NOT MATCHED THEN 
        INSERT(id, name, address) VALUES (#{id},#{name},#{address})
            
    </update>
</mapper>

